
/*
CSS for Web authoring project,
linked to
index.html
video.html
report.html
Mobile up. the default is the really small screem*/
/*the defaults are set for all screen sizes and are only changed if required */
.button
{
	border: none;
	padding: 0px 0px;
	background-color: red;
	cursor:pointer;
}
h1
{
	font-family: impact, carcoal, sans-serif;
	color: black;
	text-align:Center;
	text-decoration: underline; 
}
#Custom
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	font-family: impact, carcoal, sans-serif;
	display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
	border: none;
	font-Size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	font-family: impact, carcoal, sans-serif;
}
/*any input fields within a list tag */
li input{
	list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
	font-family: impact, carcoal, sans-serif;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border: none;
	font-Size: 17px;
}
/*buttons in a list tag*/
li button{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	font-family: impact, carcoal, sans-serif;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border: none;
	font-Size: 17px;
}
/*buttons in a list tag when the mouse is hovered over them
Just sets the text color to yellow
used in the navigation bar
*/
li button:hover:not(:active) {
	color:#f4c842
}
:active {
	/*Buttons in a list when the mouse is clicked on them*/
    color: #4CAF50;
}
/*List links, used for the navigation bar*/
li a {
	
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(:active) {
    color:#f4c842;
}
:active {
    color: #4CAF50;
}
body
{
	/*default color on mobile phones
	overwritten by custom background color*/
	background-color:red;
}

canvas
{
	/*Canvas defaults*/
	border:solid;
	border-color:black;
	background-color:white;
}
/*
For tablets, or anything bigger than a standard mobile
Not currently working right
*/
@media screen and (min-width: 400px) {
    body {
        background-color: yellow;
    }
	li {
		float: left;
		width: 120px;
	}
	
	.center {
		margin:auto;
		padding:5px;
	}
	.button {
		background-color: black;
	}
	canvas{
		
	}
}
/*
For desktops and anything bigger than a tablet
*/
@media screen and (min-width: 800px){
	body{
		background-color: lightgreen;
	}
	li {
		float: left;
		width: 120px;
	}
	canvas{
		border:solid;
		border-color:black;
		background-color:white;
		margin:auto;
	}
	.button{
		background-color: black;
	}
	.center{
		margin:auto;
		padding:10px;
	}
}

